@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors for the project */
  --background: hsl(212, 33%, 89%);
  --s-blue: #2d74b1;
  --clr-white: #fff;
  --grey-4: hsl(210, 31%, 80%);
  --light-grey: hsl(212, 33%, 89%);
}

.footer {
  background-color: var(--clr-white);
}

.bottom {
  background-color: var(--grey-4);
}

.footer h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  color: var(--s-blue);
}

.footer li {
  font-size: 1rem;
  text-transform: uppercase;
  color: lightslategrey;
}

.social svg {
  margin-right: 5px;
  min-width: 50px;
  min-height: 30px;
  margin-bottom: 2%;
  color: lightslategrey;
  align-items: flex-start;
}

.email {
  background-color: var(--grey-4);
  font-size: 1rem;
}

@media screen and (max-width: 870px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer h4 {
    margin-top: 20px;
    margin-left: 0;
  }
}
