@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors for the project */
  --background: hsl(212, 33%, 89%);
  --s-blue: #2d74b1;
  --clr-white: #fff;
  --grey-4: hsl(210, 31%, 80%);
  --light-grey: hsl(212, 33%, 89%);
}

.footer {
  background-color: var(--light-grey);
}

.bottom {
  background-color: var(--grey-4);
}
