@tailwind base;
@tailwind components;
@tailwind utilities;

.about-container h3 {
  color: var(--clr-white);
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.about-container p {
  color: var(--clr-white);
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
  padding: 1rem;
}

.about-paragraph {
  margin: 15% 5% 10 5%;
}

@media screen and (max-width: 1300px) {
  .about-paragraph {
    display: flex;
    flex-direction: column;
    margin: 10% 5% 10 5%;
    padding: 10% 0 10% 0;
  }
}
