@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors for the project */
  --background: hsl(212, 33%, 89%);
  --s-blue: #2d74b1;
  --clr-white: #fff;
}

/*
=============== 
Global Styles
===============
*/

nav {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--s-blue);
  color: white;
  line-height: 1.5;
}

nav h3 {
  font-size: 1.3rem;
  text-align: center;
  text-transform: uppercase;
}
nav h4 {
  font-size: 0.875rem;
}
@media screen and (max-width: 600px) {
  .h3 {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .h3 {
    display: flex;
  }
}
